@import url(style.css);
@import url(dark.css);
@import url(root.css);

h2 {
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.theme-switch {
    animation: none;
}

.header {
    background-color: #364935;
    padding: 20px;

}

.project-container {
    margin: 0 auto;
    width: 100%;
    padding: 0;

}

.project-nav {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.project-header {

    background-color: var(--shadow-color);
    margin: 0 auto;
    width: 100%;
    padding: 30px;
}

.project-title {
    display: flex;
    justify-content: center;

}

.project-title h1 {
    font-size: 1.35rem;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;

    margin-block: 12px;
    padding: 0;
}

.project-description {
    display: flex;
    justify-content: center;

}

.project-details {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

.requirements {
    padding: 20px;
    width: 40%;

}

.requirements h2 {
    margin-bottom: 12px;
    text-decoration: underline;

}

.requirements p {
    font-size: 1.2em;
    line-height: 1.75em;
    margin: 0;
    padding: 12px 0;
    color: var(--primary-color);
}

.technologies {
    padding: 20px;
    width: 25%;
    background-color: var(--box-color);
}

.technologies li {
    list-style: none;
    margin-bottom: 2px;
    padding: 12px 0;
    color: var(--primary-color);
}

.technologies li:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-right: 20px;
    background-color: var(--primary-color);
    border-radius: 20%;

}

.technologies h2 {
    margin-bottom: 12px;
    text-decoration: underline;
}

.tools {
    padding: 20px;
    width: 25%;
    box-shadow: 0px 0px 0px var(--primary-color);
    background-color: var(--box-color);
}

.tools li {
    list-style: none;
    margin-bottom: 2px;
    padding: 12px 0;
    color: var(--primary-color);
}

.tools li:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-right: 20px;
    background-color: var(--primary-color);
    border-radius: 20%;
}

.tools h2 {
    margin-bottom: 12px;
    text-decoration: underline;
}

.project-images {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: rgb(76, 74, 74);
}

.left {
    width: 35%;
    padding: 12px;
    margin-block: auto;
    border: 2px solid var(--primary-color);

}

.left img {
    width: 100%;
    object-fit: cover;
}

.right {
    width: 50%;
    padding: 12px;
    border: 5px double var(--primary-color);
}

.right img {
    width: 100%;
    object-fit: cover;

}

.mobile {
    position: absolute;
    top: 50%;
    left: 53%;
    width: 12%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--primary-color);

}

.mobile img {
    width: 100%;
    object-fit: cover;
}

.project-label {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 160px;
    height: 140px;
    transform: translate(-50%, -50%);

}

.project-label h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.project-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 20px 0;
    margin: 0 auto;
    margin-top: 2%;
    box-shadow: 0px 0px 6px var(--light-color);
    background-color: var(--highlight);



}

.github-link {
    padding: 20px;
    text-align: center;


}

.github-link a i {
    color: var(--primary-color);
    text-decoration: none;
    padding: 20px;

}

.github-link a i:hover {
    color: var(--secondary-color);
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
}

.live-link {
    padding: 20px;
    text-align: center;

}

.live-link a i {
    color: var(--primary-color);
    text-decoration: none;
    padding: 20px;
}

.live-link a i:hover {
    color: var(--secondary-color);
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);

}

.project-more-details {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px auto;
}

.project-requirements {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--box-color);
}

.project-requirements h2 {
    margin-bottom: 12px;
    text-decoration: underline;
}

.project-requirements li {
    font-size: 1.2em;
    line-height: 1.75em;
    color: var(--primary-color);
    padding: 12px 0;

}

.project-requirements li:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 12px;
    margin-right: 10px;
    background-color: var(--primary-color);
    border-radius: 20%;
}

.deliverables {
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--box-color);
}

.deliverables h2 {
    margin-bottom: 12px;
    text-decoration: underline;
}

.deliverables li {
    font-size: 1.2em;
    line-height: 1em;
    padding: 12px 0;
    color: var(--primary-color);
}

.deliverables li:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 12px;
    margin-right: 10px;
    background-color: var(--primary-color);
    border-radius: 20%;
}


.project-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    margin: 0 auto;

}

@media screen and (max-width:768px) {
    .project-header {
        padding: 20px;
        margin: 12px 0;
    }

    .project-details {
        flex-direction: column;
        width: 100%;
    }

    .requirements {
        width: 80%;
        margin: 0 auto;
    }

    .technologies {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .tools {
        width: 80%;
        margin: 0 auto;
    }

    .project-images {
        flex-direction: column;
        width: 100%;
        margin: 12px 0;
    }

    .left {
        flex-direction: column;
        width: 100%;
        margin: 12px 0;
    }

    .right {
        flex-direction: column;
        width: 100%;
        margin: 12px 0;
    }

    .mobile {
        position: absolute;
        top: 25%;
        right: 20%;
    }

    .project-links {
        width: 90%;
    }

    .project-more-details {
        flex-direction: column;
        width: 100%;
    }

    .project-requirements {
        width: 80%;
        margin: 0 auto;
        padding: 12px;
        margin-bottom: 20px;
    }

    .deliverables {
        width: 80%;
        margin: 0 auto;
        padding: 12px;

    }
}