:root {
    --primary-color: #282828;
    --secondary-color: #364935;
    --dark-color: #000000;
    --white-color: #ffffff;
    --light-color: #383838;
    --shadow-color: #c2c1c182;
    --gray-color: #c0c0c085;
    --box-color: #f9f9f9c2;
    --highlight: #40733a37;
    --primary-font: 'roboto', sans-serif;
    --secondary-font: 'Nunito', sans-serif;

}