@import url(dark.css);
@import url(root.css);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    font-size: 14px;


}

hr {
    padding: 1px 0;
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(42, 105, 74, 0.521), rgb(0, 0, 0));
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul li {
    list-style: none;
}

i .fa-solid {
    color: #000
}

button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 16px;
    cursor: pointer;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
    margin: 10px;
}

button:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.hero {
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(54, 73, 53, 0.969), #282828), url("https://unsplash.com/photos/EiGBmms-alk/download?force=true&w=640");
    overflow: hidden;
}

/* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.721), rgba(0, 0, 0, 0.674)), url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); */



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background: rgba(255, 255, 255, 0.050);

    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    display: flex;
    object-fit: contain;
    width: 100px;
    height: 80px;
    z-index: 100;



}

#logo img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

#logo h1 {
    font-size: 26px;
    text-transform: uppercase;
    color: var(--white-color);
    text-shadow: 0px 2px 4px rgba(4, 4, 4, 0.785);
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    animation-name: logo-text;
    animation-duration: 2s;
}

@keyframes logo-text {
    0% {
        opacity: 0;
        transform: translateX(5000px);
    }

    100% {
        opacity: 1;
        transform: translateX(20px);
    }
}

.hamburger {

    display: block;
    cursor: pointer;
    margin: 12px;
    top: 1rem;
    right: 1rem;

}

@keyframes hamburger {
    0% {
        transform: translateX(2000px);
    }

    100% {
        transform: translateX(50px);
    }
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
    width: 2.5rem;
    height: 0.1rem;
    background-color: var(--white-color);
    margin: 0.5rem 0;
    transition: 0s ease-in-out;

}

.menu-bar2 {
    margin-top: 0.2rem;
    width: 2rem;
}

nav {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 50px;
    letter-spacing: 2px;
    background-color: #364935;
    z-index: 4;
    transition: 0.5s;
}

nav ul {
    margin: 0 auto;
    padding: 20px 0;

}

.nav-menu li {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li a {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
    transition: 0.3s ease-in-out;
    margin-top: 50px;
    margin-left: 25px;


}

.nav-item .nav-link:hover {
    border-bottom: 1px solid var(--primary-color);
}

.nav-logo {
    display: inline;
    width: 100px;
    height: 100px;
    transition: 0.5s;
    z-index: 10;
    padding: 20px;
    margin: 0 auto;
}

.nav-logo img {
    width: 100%;
    height: 100%;

}

.close {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 5;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: var(--white-color);
}

.close:hover {
    background-color: var(--primary-color);
}

.theme-switch {
    display: block;
    cursor: pointer;
    margin: 12px;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    animation-name: switch;
    animation-duration: 3s;
    animation-timing-function: ease-out;

}

@keyframes switch {
    0% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(20px);
    }
}

.theme-switch-button {
    width: 2.25rem;
    height: 0.7rem;
    border-radius: 12px;
    background-color: var(--white-color);
    margin: 0.4rem 0;
    transition: 0s ease-in-out;
    position: relative;

}

.theme-switch-button-inner {
    width: 1.25rem;
    height: 0.7rem;
    border-radius: 12px;
    background-color: rgb(66, 64, 64);
    margin: 0 0.02rem;
    transition: 1s ease-in-out;

}

/* hero section */
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 20px;
    animation-name: hero-content;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.hero-content-left {
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 30px;

    animation-name: hero-content-left;
    animation-duration: 2s;
    animation-timing-function: ease-out;

}

code {
    font-size: 26px;
    color: rgb(140, 140, 140);
    font-weight: italic;
    text-shadow: 0px 2px 4px rgba(4, 4, 4, 0.785);
}

.name {
    display: block;
    padding: 0 50px;
}

.name h1 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--white-color);
    text-shadow: 0px 2px 4px rgba(4, 4, 4, 0.785);
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.title {
    display: block;
    padding: 0;
    margin: 12px 12px;

}

.title h2 {
    font-size: 20px;
    font-family: "Big Shoulders Stencil Display";
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--dark-color);
    text-align: center;
    margin: 0;
    padding: 0 12px;
}

.title p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.2px;
    line-height: 1.8;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: left;
    margin: 10px 10px;
    padding: 20px 20px;

}

.hero-content-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-content-button {
    padding: 15px 40px;
    margin: 12px 30px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 20px;
    font-family: "Sirin Stencil";
    cursor: pointer;
}

.hero-content-button:hover {
    background-color: transparent;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    font-size: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

@keyframes hero-content-left {
    0% {
        transform: translateX(-2000px);
    }

    100% {
        transform: translateX(0);
    }
}


.hero-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    animation-name: hero-content-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.hero-image {
    display: block;
    width: 300px;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    padding: 10px;
    position: relative;
    animation-name: hero-image-img;
    animation-duration: 2s;
}

@keyframes hero-image {
    0% {
        transform: translateX(2000px);
    }

    100% {
        transform: translateX(0px);
    }
}

.hero-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-position: center;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    padding: 30px;
    animation-name: hero-image-img;


}

.hero-image img:hover {
    transform: rotate(360deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

@keyframes hero-image-img {
    50% {
        opacity: 0;

    }

    70% {
        opacity: .5;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
    }
}


.social-media-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
    padding: 30px;
    color: #000;
    animation-name: social-media;
    animation-duration: 2s;
}

.social-media-icon {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--shadow-color);
    cursor: pointer;
}

.social-media-icon:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: rgb(162, 162, 162);
    font-size: 20px;
    cursor: pointer;
}

.social-media-icon .fa-facebook-f:hover {
    background-color: rgb(9, 70, 255);
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
}

.social-media-icon .fa-instagram:hover {
    background-color: rgb(230, 64, 89);
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
}

.social-media-icon .fa-linkedin-in:hover {
    background-color: rgb(0, 119, 181);
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
}

.social-media-icon .fa-github:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
}

i fab fa {
    font-size: 30px;
    color: var(--white-color);
    transition: 0.5s ease-in-out;
}

.social-media-icon a {
    color: var(--white-color);
}

@keyframes social-media {
    0% {
        transform: translateX(2000px);
    }

    100% {
        transform: translateX(0);
    }
}

..scroll-down {
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to right, #209ae69c, #cc7c1392);
    z-index: -1;
    position: relative;
    border-radius: 90%;
    transition: 0.5s ease-in-out;
    animation-name: scroll-down;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.chevron {
    display: block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--white-color);
    position: absolute;
    bottom:50px;
    left: 50%;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    cursor: pointer;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}


@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

/* skill section starts here */
.skills-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

}

.skills-section {
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 12px;

}


.skills-section h2 {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 12px;
}

.section-heading {
    text-align: center;
    display: block;
    width: 100%;
    padding: 30px 0;



}

.section-heading h2 {
    font-size: 30px;
    color: var(--dark-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
}

.skills-section-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;

}

.skills {

    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 0px;
    box-shadow: 0px 2px 4px rgba(68, 68, 68, 0.5);
    background-image: repeating-linear-gradient(90deg, #fff, #fff 1px, #fff 1px, #a9a9a956 2px);

}




.skills h3 {
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 12px;
}

.skills p {
    font-size: 15px;
    color: var(--light-color);
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
    padding: 12px;
}

.skills-section ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    text-align: left;
    color: var(--dark-color);
    font-weight: bold;
    text-transform: capitalize;

}

.skills-section ul li:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.skills-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;

}

.skills-carousel {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    padding: 12px;
    background-color: var(--white-color);

}

.skills-carousel-item {
    overflow: hidden;
    margin: 10px;
    width: 100%;
    height: 100%;
    max-height: 150px;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.skills-carousel-item:hover {
    transform: scale(1.1);
}

.skills-carousel-item img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    opacity: .7;
}

.left-arrow {
    display: flex;
    align-items: center;
    left: 0;
    font-size: 24px;
    cursor: pointer;
    padding: 12px;
    color: var(--primary-color);
}

.right-arrow {
    display: flex;
    align-items: center;
    right: 0;
    font-size: 24px;
    cursor: pointer;
    padding: 12px;
    color: var(--primary-color);
}

.section-scroll-down {
    left: 50%;
    text-align: center;
    font-size: 36px;
    color: var(--light-color);
    padding-bottom: 16px;
    cursor: pointer;
}



/* portfolio section */


.category-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.category-box ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    
}

.category-box ul li {
    list-style: none;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;

}

.category-box button {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.category-box button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.category-box button.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}



.portfolio-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;



}

.portfolio {
    margin: 0 1px;
    margin-bottom: 15px;
    padding: 5px;
    max-width: 400px;
    height: auto;
    box-shadow: 0px 0px 10px var(--shadow-color);
    background-image: repeating-linear-gradient(180deg, #fff, #fff 1px, #fff 1px, #d6d4d456 2px);
    cursor: pointer;
}

.portfolio-image {

    padding: 5px;
}


.portfolio-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-title {
    display: flex;
    justify-content: center;
    align-items: center;


}

.portfolio-title h3 {

    font-size: 18px;
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 12px;
}

.portfolio-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.portfolio-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* contact section */

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(68, 68, 68, 0.5);
    background-image: repeating-linear-gradient(90deg, #fff, #fff 1px, #fff 1px, #a9a9a956 2px);

}


.contact-form {
    width: 60%;
    margin: 0px auto;
    padding: 10px 20px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 20px var(--light-color);

}

.page-title {
    display: block;
    margin: 0 auto;
    font-size: .7rem;
}

.form-title {
    display: block;
    margin: 1px auto;
    text-align: center;
    border-bottom: 1px dotted var(--primary-color);
    padding: 12px;

}

.form-title h3 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: bold;
    font-family: var(--secondary-font);
}

.contact-form input[type="text"],
[type="email"] {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--light-color);
    outline: none;
    padding: 10px;
    margin: 12px auto;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-form input[type="text"],
[type="email"]::placeholder {
    font-size: 12px;
    color: var(--light-color);
}

.contact-form input[type="text-area"] {
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: 1px solid var(--light-color);
    padding: 10px;
    margin: 12px auto;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
}

.contact-form input[type="text-area"]::placeholder {
    font-size: 12px;
    color: var(--light-color);

}

.contact-form label {
    display: block;
    margin: 12px auto;
    font-size: 1rem;
    color: var(--primary-color);
}

.form-error {
    display: block;
    margin: 0 0 12px 0;
    color: var(--gray-color);
}


/* footer section */
.back-top {
    display: flex;
    position: fixed;
    bottom: 2px;
    right: 12px;
    align-items: center;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 1;
}

.back-top:hover {

    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    background-image: repeating-linear-gradient(60deg, #000, #000 1px, #000 1px, #535353f1 2px);
    color: var(--white-color);
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

footer p {
    font-size: 16px;
    color: var(--white-color);
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
    padding: 12px;
}

/* footer section ends */
/* media query section */
@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .hero-content {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .hero-content-left {
        width: 100%;
        padding: 12px;
    }

    .hero-content-right {
        display: none;
    }

    .hero-content-left h1 {
        font-size: 1.25rem;
    }

    .hero-content-left p {
        font-size: .6rem;
    }

    .hero-content-left button {
        font-size: .6rem;
    }
    .chevron {
        bottom: 50px;
    }

    .category-box {
        flex-wrap: nowrap;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
    
    }
    .category-box ul {
        width: 70%;
    }

    .skills-wrapper {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .skills-wrapper h3 {
        font-size: 1rem;
    }
    .skills-carousel {
        width: 100%;
        padding: 0;
    }
    .skills-carousel-item {
        width: 100%;
        padding: 0;
    }

    .portfolio-wrapper {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .contact-form {
        width: 100%;
        padding: 10px 20px;
    }

    .back-top {

        right: 0px;
        bottom: 0px;

    }
    .contact-form input[type="text-area"]{
        outline-width: 0ex;

    }
.footer-section{
    background-image: none;
}
.footer p{
    font-size: 10px;
}
}